/*-- scss:defaults --*/

// Base document colors
$body-bg: #181825 !default;
$body-color: #cdd6f4 !default;
$link-color: #eba0ac !default;
$headings-color: #a6adc8 !default;
// $title-color:#74c7ec !default; 
$code-color: #a6e3a1 !default;
$code-bg: #11111b !default;
$code-block-bg: $code-bg !default;
$btn-code-copy-color: $code-bg !default;

// Navbar
$navbar-color: $code-bg !default;
$navbar-padding-y: 1.5rem !default;

// Sidebar
// $sidebar-bg: $code-bg !default;


// Exercise
$ex-background-color: #1a4e60 !default;
$ex-font-color: #fffdfd !default;

// Author box
$box-background-color: $code-bg !default;
$box-border-color: $link-color !default;

/*-- scss:rules --*/

// Bold sidebar part text
a.sidebar-item-text.sidebar-link.text-start, .sidebar-title>a{
    font-weight: bold;
}

// Color sidebar text
.sidebar-navigation li a {
    color: $body-color;
}

// GitHub logo colors in sidebar and TOC navbar
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before, #quarto-margin-sidebar .toc-actions .bi:before{
    color: $body-color;
}

// Exercise Headings
.exercise {
  color: $ex-font-color;
  background-color: $ex-background-color;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-left: -20px;
  margin-bottom: 15px;
}

.box {
    width: var(--width);
    background: $box-background-color;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $box-border-color;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

