/*-- scss:defaults --*/

// Navbar
$navbar-color: #f5e0dc !default;
$navbar-padding-y: 1.5rem !default;
$dark-blue: #222235 !default;

// Exercise
$ex-background-color: #fccfcf9e !default;

/*-- scss:rules --*/

// div.sidebar.sidebar-navigation.rollup.quarto-sidebar-toggle-contents, nav.sidebar.sidebar-navigation:not(.rollup) {
//     background-color: #4e525c;
// }

a.sidebar-item-text.sidebar-link.text-start, .sidebar-title{
    font-weight: bold;
}

// Exercise Headings
.exercise {
  // color: $ex-font-color;
  background-color: $ex-background-color;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-left: -20px;
  margin-bottom: 15px;
}
