/*-- scss:defaults --*/

// Navbar
$navbar-color: #f5e0dc !default;
$navbar-padding-y: 1.5rem !default;
$dark-blue: #222235 !default;

// Exercise
$ex-background-color: #fccfcf9e !default;

// Author box
$box-background-color: ghostwhite !default;
$box-border-color: lightgray !default;

/*-- scss:rules --*/

.sidebar-logo {
    background: #181825;
}

// div.sidebar.sidebar-navigation.rollup.quarto-sidebar-toggle-contents, nav.sidebar.sidebar-navigation:not(.rollup) {
//     background-color: #4e525c;
// }

a.sidebar-item-text.sidebar-link.text-start, .sidebar-title{
    font-weight: bold;
}

// Exercise Headings
.exercise {
  // color: $ex-font-color;
  background-color: $ex-background-color;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
  margin-left: -20px;
  margin-bottom: 15px;
}

.box {
    width: var(--width);
    background: $box-background-color;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $box-border-color;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.container {
    display: flex;
}
